@model E_shop.ViewModel.ItemViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    // Hvis denne knap trykkes på så kaldes SaveItem()
    $(document).ready(function () {
        $("#btnSave").click(function () {
            SaveItem();
        });
    });

    // fjerner alle værdier der i fleterne
    function ResetItem() {
        $("#CategoryId").val("1");
        $("#ItemCode").val("");
        $("#ItemName").val("");
        $("#Description").val("");
        $("#ItemPrice").val("");
        $("#ImagePath").val("");
    }

    //her er vores SaveItem funktion
    function SaveItem() {

        // denne funktion indeholder en form som i bund grund er objektet i forhold til C#,
        // denne form gør sådan vi kan indsamle alle data som er i 
        var formData = new FormData();
        formData.append("CategoryId", $("#CategoryId").val());
        formData.append("ItemCode", $("#ItemCode").val());
        formData.append("ItemName", $("#ItemName").val());
        formData.append("Description", $("#Description").val());
        formData.append("ItemPrice", $("#ItemPrice").val());
        formData.append("ImagePath", $("#ImagePath").get(0).files[0]);
        // så bruger vi noget der hedder ajax, som er en metoder man kan 
        // bruge i forhold til at sende data til vores controller gennem et
        // kald i controlleren som kaldes JsonResult
        $.ajax({
            async: true,
            dataType: 'JSON',
            type: 'POST',
            contentType: false,
            processData: false,
            url: '/Item/Addimage',
            data: formData,
            // Hvis  det lykkes så sender vi data til vores controller hvis ikke så kaldes vores error funktion som skriver
            // "Der er et problem med at tilføje produktet"
            success: function (data) {
                if (data.Success) {
                    alert(data.Message);
                    ResetItem();
                }
            },
            error: function () {
                alert("Der er et problem med at tilføje produktet.");
            }
        });
    }
</script>

<!-- Dette er formen til udfyldning af produkter.-->

<div class="container">
    <div class="col-md-4">
        <div class="form-group">
            Category :@Html.DropDownListFor( model => model.CategoryId, new SelectList(Model.CategorySelectListItems, dataValueField: "Value", dataTextField: "Text"),
  new { @class = "form-control" })

        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Produkt Kode: 
            @Html.TextBoxFor(expression: model => model.ItemCode, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Produkt Navn:
            @Html.TextBoxFor(expression: model => model.ItemName, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Beskrivelse:
            @Html.TextBoxFor(expression: model => model.Description, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Pris:
            @Html.TextBoxFor(expression: model => model.ItemPrice, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Billede:
            @Html.TextBoxFor(expression: model => model.ImagePath, htmlAttributes: new { type = "file", @class = "form-control" })
        </div>
    </div>

    <div>
        <input type="button" value="Save" name="save" class="btn btn-primary" id="btnSave" />
        &nbsp;
        <input type="button" value="Reset" name="reset" class="btn btn-danger" id="btnReset" />
    </div>
</div>

