@model E_shop.Models.Bruger

@{
    Layout = null;
 }



<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="font">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-box">

                    <div id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content clearfix">
                                <a href="@Url.Action("Index", "Home")">
                                    <span class="close">×</span>
                                </a>

                                <div class="modal-body">
                                    <div class="modal-body">
                                        <h3 class="title">Log ind</h3>
                                        <p class="description">Log ind her ved brug af din Email & Kodeord</p>

                                        @using (Html.BeginForm("Autherize", "Home", FormMethod.Post))
                                         {
                                            <table style="margin: auto">

                                                <tr>
                                                    <td>
                                                        <div id="brugerIkon" class="input-icon2"><i class="fa fa-user"></i></div>
                                                        @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align: left; color: white; font-size: 15px;">
                                                        Adgangskode
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="input-icon1"><i class="fas fa-key"></i></span>
                                                        @Html.EditorFor(model => model.Adgangskode, new { htmlAttributes = new { @class = "form-control", placeholder = "Adgangskode" } })
                                                        @Html.ValidationMessageFor(model => model.Adgangskode, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>

                                            </table>
                                            <br />
                                            <label class="text-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                            <br />
                                            <a href="@Url.Action("Opret", "Home")" class="forgot-pass">Har du ikke en konto? Opret dig her!</a>
                                            <input id="myBtn" type="submit" value="Log ind" class="btn" /><br />
                                            <div style="margin-top: 15px;">
                                                <a href="@Url.Action("Index", "Home")" class="btn">Forside</a><br />
                                            </div>
                                         }
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

